@font-face{ 
  font-family: 'Hindi';
  src: url('../fonts/saman___-webfont.eot');
  src: url('../fonts/saman___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/saman___-webfont.woff') format('woff'),
       url('../fonts/saman___-webfont.ttf') format('truetype'),
       url('../fonts/saman___-webfont.svg#webfont') format('svg');
}

/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

#large-header {
  background-image: url("http://preview.ibb.co/c4o8hR/demo_1_bg.jpg");
}

canvas { 
  position: absolute; 
  z-index: 1; 
}

.navbar-trans {
  background: transparent; }

.navbar-toggler-icon {
      color: white;
}
.container-fluid {
  position: absolute;
  color: white;
  z-index: 100;
}

.hindi-text {
  font-family: Hindi;
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
