{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}
		<div class="row">
      <div class="col-md-12">
        <h1 style="padding-top: 20px;"><center><b>G.H.Raisoni College of Engineering and Managment</b></center></h1>
      </div>
		</div>
    <div class="row">
      <div class="col-md-12">
        <h1><center><small>presents<small></center></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <center>
          <img src="{{ url_for('static', filename='images/TW_LOGO.png') }}" height="100px" width="100px">
        </center>
      </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 hindi-text">
          <center><h1><b>TechnoWave 2k18</b></h1></center>
        </div>
        <div class="col-md-2"></div>                
    </div>
    <div class="row">
      <div class="col-md-12">
        <center><span class="write"></span></center>
      </div>
    </div>

{% endblock %}


{% block javascript %}
  <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>

    <script type="text/javascript">

    $(function(){

          $(".write").typed({

              strings: ["<h3>Landing innovative ideas!</h3>"],

              typeSpeed: 50,

          });

      });

    </script> 
{% endblock %}