<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>TechnoWave | {% block title %}{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='{{ url_for('static', filename='css/demo.css') }}'>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <h1 class="main-title">TechnoWave <span class="thin">2018</span></h1><br>
        <button><h2>Coming Soon</h2></button>
        {% block main %}{% endblock %}
    </div>
    <script src='{{ url_for('static', filename='js/EasePack.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/rAF.js') }}'></script>
    <script src='{{ url_for('static', filename='js/TweenLite.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/index.js') }}'></script>
</body>

</html>
